name: Generate Tachikoma

on:
  schedule:
    - cron: "0 0 * * *" # daily at midnight
  workflow_dispatch:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Generate Tachikoma
        uses: m-mohamed/tachikoma/svg-only@main
        with:
          github_user_name: m-mohamed
          outputs: |
            dist/tachikoma.svg
            dist/tachikoma-dark.svg?palette=github-dark

      - name: Push to output branch
        uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
