name: Generate Terminal

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
  push:
    branches: [main]

permissions:
  contents: write

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          template: terminal
          filename: terminal.svg
          base: header, activity, community, repositories
          config_timezone: America/Los_Angeles

          # Languages breakdown
          plugin_languages: yes
          plugin_languages_sections: most-used
          plugin_languages_limit: 8

          # Coding habits
          plugin_habits: yes
          plugin_habits_days: 14
          plugin_habits_facts: yes
          plugin_habits_charts: no
